/* grid display */
.disJcAr {  display: flex; justify-content: space-around; }
.disJcBetCol { display: flex; justify-content: space-between; flex-direction: column; }
.disJcEnd { display: flex; justify-content: end; }
.disAiCen { display: flex; align-items: center; }
.disCen { display: flex; align-items: center; justify-content: center;}
.disJcBet { display: flex; justify-content: space-between; }
.poAbCen { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.line { display: flex; padding-bottom: 15px; height: 25px; line-height: 25px;}
.dis { display: flex;}
.posNe { position: relative;}

.con { width: 89vw; margin:  auto; }
.grid { height: inherit; }
.grid:first-child { width: 24vw; }
.grid:nth-child(2) { width: 31vw; }
.grid:last-child { width: 30vw; }

.border {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 10px 25px;
  margin-bottom: 20px;
}
.tr { text-align: right;}
.tc { text-align: center;}
.pb10 {padding-bottom: 10px;}
/* .pb15 {padding-bottom: 15px;} */
.pl15 {padding-left: 15px;}
.pt50 { padding-top: 50px; }
.pt70 { padding-top: 70px; }
/* .pt30 { padding-top: 30px; } */
.pt20 { padding-top: 20px; }
.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pt8 { padding-top: 8px; }
.mt30 { margin-top: 30px; }
.mt20 { margin-top: 20px; }
.mt25 { margin-top: 25px; }
.mr50 { margin-right: 50px;}
.mr60 { margin-right: 60px;}

     .img {
      width: 100%;
      /* height: 210px; */
      object-fit: cover;
      position: relative;
    }
  
   .img::before {
      width: 100%;
      /* height: 210px; */
      content: "";
      opacity: 0.2;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background-color: #000;
    }
